@charset "utf-8";

/* //////////////////반응형////////////////// */
@media screen and (max-width: 1000px){
    /* 헤더영역의 반응형 설정 */
    .nav{display: none;}
    .menu_toggle_btn{display: block;}


    .slider li{
        height: 697px; background-repeat: no-repeat; 
        background-position: center center; background-size: cover;}
    .slider li .slider_text{position: relative; width: 100%; height: 100%;}
    .slider li .slider_text h2{
        position: absolute; top: 50%; font-size: 5rem; 
        color: #fff; text-shadow: 1px 5px 0 #002258; transform: translateY(-50%);}

    .slider li.slider_01 h2{left: 50%; transform: translate(-50%, -50%);}
    .slider li.slider_02 h2{left: 50%; transform: translate(-50%, -50%);}

    .slider li.slider_03 h2{right: 50%; transform: translate(50%, -50%);}



    /* we are */
    .weare{flex-direction: column; align-items: center;}

    .section_title{margin-bottom: 50px; text-align: center;}
    .content_box{padding-left: 0; width: 100%; text-align: center;}
    .content_box::before{display: none;}
    .weare_2 .weare_list{flex-direction: column; padding: 20px;}
    .weare_2 .weare_list li{padding: 50px 20px;}

    .work_list li{width: 50%;}
    
    /* 블로그영역 */

    .blog{flex-direction: column; align-items: center;}
    .blog .blog_list{width: 100%;}


    /* 컨텍트 영역 */
    .contact{
        flex-direction: column;
        align-items: center;
    }

    .form_box{width: 100%;}






} /* 1000 */



@media screen and (max-width: 468px){
    .work_list li{width: 100%;}
    .blog .blog_list{flex-direction: column; }
    .blog .blog_list li:first-child{padding-left: 20px !important;}
    .blog .blog_list li:last-child{padding-right: 20px !important;}
    .blog .blog_list li{margin-bottom: 20px;}


    /* 컨텍트 영역 */
    .form1{width: 100%;}
    .form2{width: 100%;}






}/* 468 */
